# Dependencies
node_modules/
dist/
dist-ssr/

# Environment & Sensitive Files
.env
.env.*
*.local
*.pem
*.key

# Backend & API folders
api/

# Exclude backend scripts, datasets, and raw scrape files
*.py
*.pyc
__pycache__/
*.csv
*.txt
*.bat
jds/
public/jds/
public/showcase/

# OS Files
.DS_Store
Thumbs.db
